<section class="vh-100 bg-image" style="background-color: aliceblue;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Tạo tài khoản</h2>

                            <form method="POST" action="/authen/users/store" onsubmit="checkForm(event)">
                                <div class="form-outline mb-4">
                                    <input id="username" name="username" type="text"
                                        class="form-control form-control-lg" placeholder="Tài khoản" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <input id="email" name="email" type="email" class="form-control form-control-lg"
                                        placeholder="Email của bạn" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <input id="password" name="password" type="password"
                                        class="form-control form-control-lg" placeholder="Mật khẩu" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <input id="repeat-password" type="password" class="form-control form-control-lg"
                                        placeholder="Nhập lại mật khẩu" onchange="checkPassword()" required />
                                </div>
                                <div id="password-alert" style="display: none; text-align: center;"
                                    class="alert alert-danger" role="alert">
                                    Passwords do not match
                                </div>


                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                                        style="background-color: rgb(139, 139, 246);">Đăng ký</button>
                                </div>
                            </form>
                            {{#if flash.error}}
                            <div style="text-align: center; margin: 10px;" class="alert alert-danger " role="alert">
                                {{flash.error}}
                            </div>
                            {{/if}}
                            <p class="text-center text-muted mt-5 mb-0">Bạn có tài khoản?
                                <a href="/authen/login" class="fw-bold text-body"><u>Đăng nhập</u></a>
                            </p>

                            {{!-- Thông báo tài khoản đã tồn tại --}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script>
    function checkPassword() {
        var password = document.getElementById("password").value;
        var repeatPassword = document.getElementById("repeat-password").value;

        if (password !== repeatPassword) {
            event.preventDefault();
            document.getElementById("password-alert").style.display = "block";
        } else {
            document.getElementById("password-alert").style.display = "none";
        }
    }
    function checkForm(event) {
        var password = document.getElementById("password").value;
        var repeatPassword = document.getElementById("repeat-password").value;

        if (password !== repeatPassword) {
            event.preventDefault(); // Hủy sự kiện submit form
            document.getElementById("password-alert").style.display = "block";
        }
    }

</script>