<footer>
    <div class="footer-container">
        <div class="sec aboutus">
            <h2>My Blog</h2>
            <p>My blog được sáng lập ngày 17/7/2023, với mong ước chia sẻ câu chuyện, kinh nghiệm của đọc giả đến với
                mọi người</p>

        </div>
        <div class="sec quicklinks">
            <h2>Liên kết</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a target="_blank" href="https://github.com/st0706/nodejs_blog">About</a></li>
            </ul>
        </div>
        <div class="sec contactBx">
            <h2>Liên hệ</h2>
            <ul class="info">
                <li>
                    <span><i class='bx bxs-map'></i></span>
                    <span>số 5, ngõ 85 Hạ Đình, Thanh Xuân, Hà Nội</span>
                </li>
                <li>
                    <span><i class='bx bx-envelope'></i></span>
                    <p><a href="mailto:myblog@gmail.com">1stgemini123@gmail.com</a></p>
                </li>
            </ul>
            <ul class="sci">
                <li><a href="https://www.facebook.com/st.0706" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/sontungbeo769/"><i class="bx bxl-instagram"></i></a></li>
                <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</footer>