<footer>
    <div class="footer-container">
        <div class="sec aboutus">
            <h2>My Blog</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus quisquam minus quo illo numquam vel
                incidunt pariatur hic commodi expedita tempora praesentium at iure fugiat ea, quam laborum aperiam
                veritatis.</p>

        </div>
        <div class="sec quicklinks">
            <h2>Liên kết</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a target="_blank" href="https://github.com/st0706/nodejs_blog">About</a></li>
            </ul>
        </div>
        <div class="sec contactBx">
            <h2>Liên hệ</h2>
            <ul class="info">
                <li>
                    <span><i class='bx bxs-map'></i></span>
                    <span>6444 London street <br> Brighton PA 33445 <br> Uk</span>
                </li>
                <li>
                    <span><i class='bx bx-envelope'></i></span>
                    <p><a href="mailto:codemyhobby9@gmail.com">Codemyhobby9@gmail.com</a></p>
                </li>
            </ul>
            <ul class="sci">
                <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                <li><a href="#"><i class="bx bxl-instagram"></i></a></li>
                <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</footer>